@charset "UTF-8";
/* CSS Document */



* {
  margin: 0px;
  padding: 0px;
}

.full-container {
  width: 100%;
  height: 100%;
  background-color: #292e33;
  
}

body {
  font-family: "Montserrat", sans-serif;
  background: #292e33;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}


/* NAVIGATION */

#initials {
  width: 6vw;
  position: fixed;
  top: 2vw;
  left: 2vw;
}

.home path {
  stroke: #fff32c;
  fill: #fff32c;
}

.button-wrap {
  height: 100%;
  width: 100%;
}


.back-button {
  position: fixed;
  bottom: 22vh;
  left: 0;
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forward-button {
  position: fixed;
  bottom: 22vh;
  right: 0;
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button a {
  text-align: center;
}

.forward-button svg, .back-button svg {
  width: 50%;
  padding-top: 10px;
}

.button-text {
  font-weight: 200;
  font-size: 1.4vw;
  color: #fff32c;
  text-align: center;
}

.button svg {
  transition: .2s;
}

.button svg:hover {
  transform: scale(1.1);
  transition: .2s;
}



/* HEADER */

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vw;
  margin-top: 1vw;
  text-align: right;
}

header h1 {
  color: #fffef9;
  font-size: 4.5vw;
}

header h2 {
  font-size: 6vw;
  line-height: 6vw;
  word-spacing: 1vw;
  color: #fff32c;
  text-align: right;
}

.page-description {
  font-weight: 200;
  font-size: 1.7em;
  color: #fffef9;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.separate2 {
  background-color: #fffef9;
  width: 100%;
  height: 2px;
  border-radius: 1px;
}


/* BODY */



.approach-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  border-left: solid 2px #fffef9;
  margin-top: 100px;
}

.approach {
  font-weight: 200;
  font-size: 1.3em;
  display: flex;
  color: #fffef9;
  text-align: left;
  margin-left: 2%;
}

#my-process {
  background-color: #292e33;
}

.step-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 50px;
}

.step {
  background-color: #3eb6d4;
  width: 49%;
  height: auto;
  margin-top: 1.9vw;
  padding: 2.1vw;
  box-sizing: border-box;
}


#my-process h3, p {
  text-align: left;
  transition: .1s;

}

#my-process h3 {
  font-size: 2em;
  color: #fff32c;
}

#my-process p {
  font-size: 1.3em;
  font-weight: 200;
  color: #292e33;
}




.project-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
  max-width: 1200px;
}

.hero {
  margin-top: 90px;
  
}

.hero img {
  width: 100%;
}

.thumb {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.thumb img:hover {
  transition: .1s;
  outline: solid 3px #fff32c;
  outline-offset: -3px;
}

.thumb img{
  width: 30%;
  height: 30%;
  cursor: pointer;
  transition: .1s;
}


.contact-link {
  width: 100%;
  font-weight: 200;
  font-size: 3em;
  text-align: center;
  margin-top: 80px;
  color: #e64c4e;
  
}

.contact-link:hover {
  color: #fff32c;
}

.contact-link a {
  color: inherit;
  text-decoration: none;
}

.contact-link {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 1;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 1;
    }
    50% { 
        opacity: .5;
    }
    100% { 
        opacity: 1;
    }
}



/* =============================================== */
/* ====================IMAGES===================== */
/* =============================================== */


/* PERSONAL BRAND */

.brand-hero {
  background-image: url(../images/icons_2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 48vw;
  transition: .3s;
}

.brand-hero1 {
  background-image: url(../images/icons_2.jpg);
  transition: .3s;
}

.brand-hero2 {
  background-image: url(../images/business_cards.jpg);
  transition: .3s;
}

.brand-hero3 {
  background-image: url(../images/style_guide_2.jpg);
  transition: .3s;
}

#brand-thumb1, #brand-thumb2, #brand-thumb3 {
  width: 32%;
}

.caption {
  margin-bottom: 30px;
}

.caption p {
  color: #fffef9;
  font-weight: 200;
  text-align: center;
}




/* OUTDOOR CONCEPT */

.poster-hero {
  background-image: url(../images/joshua_tree_poster.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 60vw;
  transition: .3s;
}

.poster-hero1 {
  background-image: url(../images/joshua_tree_poster.jpg);
  transition: .3s;
}

.poster-hero2 {
  background-image: url(../images/mushroom_poster.jpg);
  transition: .3s;
}

.poster-hero3 {
  background-image: url(../images/frog_poster.jpg);
  transition: .3s;
}

.card-hero {
  background-image: url(../images/outdoor_concept_cards.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 60vw;
  transition: .3s;
}


.photo-hero {
  background-image: url(../images/joshua_tree_website_75.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 56vw;
  transition: .3s;
}

.photo-hero1 {
  background-image: url(../images/joshua_tree_website_75.jpg);
  transition: .3s;
}

.photo-hero2 {
  background-image: url(../images/mushrooms_website.jpg);
  transition: .3s;
}

.photo-hero3 {
  background-image: url(../images/frog_website.jpg);
  transition: .3s;
}


.website-hero {
  background-image: url(../images/laptop_mockup_website.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 56vw;
  transition: .3s;
}

.website-hero1 {
  background-image: url(../images/laptop_mockup_website.jpg);
  transition: .3s;
}

.website-hero2 {
  background-image: url(../images/desktop_mockup_website.jpg);
  transition: .3s;
}

.website-hero3 {
  background-image: url(../images/tablet_mockup_website.jpg);
  transition: .3s;
}

.website-hero4 {
  background-image: url(../images/wireframes.jpg);
  transition: .3s;
}

#website-thumb1, #website-thumb2, #website-thumb3, #website-thumb4 {
  width: 24%;
}



/* KLIPSCH */

.klipsch_hero {
  background-image: url(../images/klipsch_full.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 54vw;
  transition: .3s;
}

/* YELLOW WOOD */

.yw-hero {
  background-image: url(../images/yw_purpose.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 61vw;
  transition: .3s;
}

.yw-hero1 {
  background-image: url(../images/yw_purpose.jpg);
  transition: .3s;
  padding-top: 61vw;
}

.yw-hero2 {
  background-image: url(../images/yw_flyer.png);
  transition: .3s;
  padding-top: 64vw;
}

.yw-hero3 {
  background-image: url(../images/yw_t2t.jpg);
  transition: .3s;
  padding-top: 61vw;
}

.yw-hero4 {
  background-image: url(../images/yw_pride.jpg);
  transition: .3s;
  padding-top: 61vw;
}


.yw-thumb {
  width: 19vw;
  height: 12vw;
  cursor: pointer;
  transition: .1s;
}

.yw-thumb:hover {
  transition: .1s;
  outline: solid 3px #fff32c;
  outline-offset: -3px;
}

#yw-thumb-1 {
  background-image: url(../images/yw_purpose_thumb.jpg);
  background-size: cover;
}

#yw-thumb-2 {
  background-image: url(../images/yw_flyer_thumb.jpg);
  
  background-size: cover;
}

#yw-thumb-3 {
  background-image: url(../images/yw_t2t_thumb.jpg);
  background-size: cover;
}

#yw-thumb-4 {
  background-image: url(../images/yw_pride_thumb.jpg);
  background-size: cover;
  background-position: bottom
}



/* THE NEW SEVEN */

.tn7-hero {
  width: 100%;
  height: 0;
  background-image: url(../images/album_cover_small.jpg);
  padding-top: 81vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.tn7-hero1 {
  background-image: url(../images/album_cover_small.jpg);
  padding-top: 81vw;
}

.tn7-hero2 {
  background-image: url(../images/tn7_front.jpg);
  width: 100%;
  padding-top: 54vw;
}

.tn7-hero3 {
  background-image: url(../images/tn7_back.jpg);
  padding-top: 54vw;
}

.tn7-hero4 {
  background-image: url(../images/tn7_group.jpg);
  padding-top: 54vw;
}

.tn7-hero5 {
  background-image: url(../images/tn7_insert.png);
  padding-top: 54vw;
}

.tn7-thumb {
  width: 15vw;
  height: 10vw;
  cursor: pointer;
  margin-top: 1vw;
  transition: .1s;
}

.tn7-thumb:hover {
  transition: .1s;
  outline: solid 3px #fff32c;
  outline-offset: -3px;
}
  
  
  
#tn7-thumb-1 {
  background-image: url(../images/tn7_cover_thumb.jpg);
  background-size: cover;
}

#tn7-thumb-2 {
  background-image: url(../images/tn7_front_thumb.jpg);
  background-size: cover;
}

#tn7-thumb-3 {
  background-image: url(../images/tn7_back_thumb.jpg);
  background-size: cover;
}

#tn7-thumb-4 {
  background-image: url(../images/tn7_group_thumb.jpg);
  background-size: cover;
}

#tn7-thumb-5 {
  background-image: url(../images/tn7_insert_thumb.png);
  background-size: cover;
}



/* =============================================== */
/* ================PAGE SPECIFIC================== */
/* =============================================== */


/* THE NEW SEVEN */

.credits {
  width: 50%;
  min-width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 280px;
}

.credits h2 {
  color: #fff32c;
  font-size: 4em;
  width: 100%;
}

.credits ul {
  color: #fffef9;
  font-size: 1.25em;
  font-weight: 200;
  width: 100%;
  list-style: none;
}



.tn7-extra {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.role {
  color: #e64c4e;
  font-weight: 200;
  font-size: 1.25em;
  text-align: right;
}

.role-name {
  color: #fffef9;
  font-weight: 200;
  font-size: 1.25em;
}





.separate {
  background-color: #fffef9;
  width: 96vw;
  height: 2px;
  border-radius: 1px;
  margin: 15vh 2vw;
  margin-bottom: 0;
}



footer {
  background-color: #292e33;
  width: 100%;
  height: 100px;
  color: #fffef9;
  font-weight: 200;
  display: flex;
  align-items: center;
}


footer ul {
  padding-left: 2vw;
  list-style: none;
}

.footer-icon {
  width: 22px;
  padding-right: 10px;
}

footer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12pt;
  vertical-align: middle;
  line-height: 30px;
}



iframe {
  min-width: 250px;
  margin-right: 2%;
}


.red {
  color: #e64c4e;
}

footer a {
  text-decoration: none;
  color: #fffef9;
}

footer a:hover {
  color: #fff32c;
}





@media (max-width: 1000px) {
  .tn7-extra {
    flex-direction: column;
  }
  
  .credits {
    width: 100%;
    flex-direction: row;
    align-content: flex-end;
  }
  
  .credits h2 {
    width: 100%;
    font-size: 2.5em;
    text-align: center;
  }
  
  iframe {
    width: 100%;
  }
  
  #credits2 {
    width: 100%;
    padding-left: 11%;
    
  }
  
  
}

@media (max-width: 800px) {
  
  #initials {
    width: 8vw;
    left: 1vw;
  }
  
  header h1 {
    font-size: 6vw;
  }
  
  header h2 {
    font-size: 7vw;
    line-height: 1em;
  }

    
  .project-container {
    margin: 0 10vw; 
  } 
    
  .button svg:hover {
  transform: initial;
  transition: 0;
}
  
  .step {
    width: 100%;
    padding: 3.5vw;
  }
  
 
  .button a {
    width: 100%;
  } 
      
  .button {
    width: 10vw;
  }
  
  .forward-button svg, .back-button svg {
    width: 70%;
}
  
  .button-text {
    visibility: hidden;
  }
  
  .page-description, .approach, .caption {
    font-size: 1.25em;
    line-height: 1.25em;
  }
  
  .hero {
    margin-top: 40px;
  }

#my-process p {
  font-size: 1.25em;
}
  
  #credits2 {
    font-size: 1em;
  }
  
  .contact-link {
    font-size: 2.5em;
  }
  
  
}


@media (max-width: 599px) {
   .page-description, .approach, .caption {
    font-size: 1em;
    line-height: 1.25em;
  }
  
  #my-process h3 {
    font-size: 1.6em;
  }
  
  #my-process p {
    font-size: 1em;
  }
  
  .contact-link {
    font-size: 1.8em;
  }
  
  .credits h2 {
    font-size: 2em;
  }
  
  #credits2 {
    font-size: .75em;
  }
  
}

@media (max-height: 599px) {
  .button {
    bottom: 35vh;
  }
}


@media (min-width: 1500px) {
  .website-hero, .photo-hero {
    padding-top: 840px;
  }
  
  .brand-hero {
    padding-top: 720px;
  }
  
  .poster-hero, .card-hero {
    padding-top: 900px;
  }
  
  .klipsch_hero {
    padding-top: 810px;
  }
  
  .yw-hero, .yw-hero1, .yw-hero3, .yw-hero4 {
    padding-top: 915px;
  }
  
  .yw-hero2 {
    padding-top: 960px;
  }
  
  .tn7-hero, .tn7-hero1 {
    padding-top: 1215px;
  }
  
  .tn7-hero2, .tn7-hero3, .tn7-hero4, .tn7-hero5 {
    padding-top: 810px;
  } 
  
  .tn7-thumb {
    max-width: 228px;
    max-height: 152px;
  }
  
  .yw-thumb {
    max-width: 285px;
    max-height: 180px;
  }
  
  header h1 {
    font-size: 4.3em;
    line-height: inherit;
  }
  
  header h2 {
    font-size: 5.75em;
    line-height: inherit;
  }
  
  .forward-button, .back-button {
    max-width: 150px;
  }
  
  .button-text {
    font-size: 1.31em;
  }

}











