@charset "UTF-8";
/* CSS Document */

* {
  margin: 0px;
  padding: 0px;
}

.full-container {
  width: 100%;
  height: auto;
  background-color: #292e33;
}

body, html{
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#initials {
  width: 6vw;
  position: fixed;
  top: 2vw;
  left: 2vw;
}

.home path {
  stroke: #fff32c;
  fill: #fff32c;
}

.projects-header {
  position: fixed;
  top: 1vw;
  left: 100vw;
  transform: rotate(90deg);
  transform-origin: 0% 0%;
  color: #fffef9;
  font-size: 9vw;
  line-height: 10vw;
  text-align: left;
}

header {
  width: 100%;
}

header h1 {
  
}

header h2 {
  color: #fff32c;
  text-align: right;
  font-size: 6vw;
}

.project-container {
  width: 80vw;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.w-container {
  width: 100%;
  max-width: 1200px;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.g-container, .s-container {
  width: 100%;
  max-width: 1200px;
  margin-top: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
.w-project, .s-project {
  width: 100%;
  height: 45vw;
  overflow: hidden;
  position: relative;
	cursor: pointer;
  display: inline-flex;
  margin-top: 2vw;
}

.g-project {
  overflow: hidden;
  position: relative;
	cursor: pointer;
  display: inline-flex;
  width: 39vw;
  max-width: 590px;
  height: 22vw;
  margin-top: 2vw;
}

.proj-child {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: .2s;
}

.proj-parent a {
  width: 100%;
  height: 100%;
}

.proj-parent:hover .proj-child {
  transform: scale(1.05);
  -webkit-filter: brightness(90%) grayscale(50%);
  transition: .2s;
}

.proj-button {
  background-color: #292e33;
  position: absolute;
  height: 40px;
  line-height: 40px;
  opacity: .9;
  color: #fffef9;
  transition: .2s;
  border-radius: 1px;
}

.g-project-button {
  bottom: 15%;
  right: 0;
  width: 65%;
}

.w-project-button, .s-project-button {
  bottom: 15%;
  right: 0;
  width: 32.5%;
}

.proj-button2 {
  background-color: #fff32c;
  color: #292e33;
  transition: .2s;
  opacity: 1;
}

.proj-button p {
  padding-left: 10%;
  font-weight: 200; 
}

.w-proj-1 {
  background-image: url(../images/laptop_mockup_website.jpg);
  background-position: 0% 60%;
}
.g-proj-1 {
  background-image: url(../images/icons_2.jpg);
  background-position: top;
}

.g-proj-2 {
  background-image: url(../images/mushrooms_website.jpg);
  background-position: bottom;
}

.g-proj-3 {
  background-image: url(../images/klipsch_thumb.jpg);
  background-position: top right;
}

.g-proj-4 {
  background-image: url(../images/yw_purpose_thumb.jpg);
  background-position: top;
}

.s-proj-1 {
  background-image: url(../images/album_cover_small.jpg);
  background-position: top;
}

.separate {
  background-color: #fffef9;
  width: 88vw;
  height: 2px;
  border-radius: 1px;
  margin-top: 10vh;
  margin-left: 2vw;
  margin-bottom: 0;
}

/* Footer */

footer {
  background-color: #292e33;
  width: 100%;
  height: 100px;
  color: #fffef9;
  font-weight: 200;
  display: flex;
  align-items: center;
}


footer ul {
  padding-left: 2vw;
  list-style: none;
}

.footer-icon {
  width: 22px;
  padding-right: 10px;
}

footer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12pt;
  vertical-align: middle;
  line-height: 30px;
}

footer a {
  text-decoration: none;
  color: #fffef9;
}

footer a:hover {
  color: #fff32c;
}











