@charset "UTF-8";
/* CSS Document */

* {
  margin: 0px;
  padding: 0px;
}

body, html{
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}



.page {
  width: 100%;
  height: 54vw;
}

.p-two, .p-four {
  background-color: #292e33;
}

.p-three, .p-five {
  background-color: #3eb6d4;
}

.p-two, .p-three, .p-four, .p-five {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#tattoo {
  z-index: 1;
  width: 40vw;
  position: absolute;
  top: 34em;
  right: -16%;
}

nav {
  position: fixed;
  top: 5vh;
  background-color: none;
  float: left; 
  z-index: 1; 
}

nav li a{
  display: block;
  list-style-type: none;
  text-decoration: none;
  margin-top: 5px;
  width: 20px;
  background-color: #e64c4e;
  color: #e64c4e;
  overflow: hidden;
  text-align: center;
  line-height: 40px;
  transition: .6s;
}

li a:hover {
  width: 8vw;
  background-color: #e64c4e;
  color: #fff32c;
  transition: .6s;
}

/* On/Off Switch */

.onoffswitch {
    position: absolute; 
    top: 50vw; 
    left: 2vw; 
    width: 60px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #FFFEF9; 
    width: 100%; 
    border-radius: 24px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 24px; 
    padding: 0; 
    line-height: 24px;
    font-size: 12px; 
    color: #fffef9; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 500;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #3EB6D4; 
    color: #FFFEF9;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #E64C4E; 
    color: #FFFEF9;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 16px; 
    margin: 4px;
    background: #fffef9;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 32px;
    border: 2px solid #FFFEF9; 
    border-radius: 15px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: -4px; 
}

.pause {
  background-image: url(../images/metolius_background.png);
  background-size: cover;
  position: relative;
}




/* Left Content */

.content {
  width: 44%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.p-top-container {
  position: relative;
  align-self: flex-start;
  top: 5%;
}

.p-title {
  color: #fff32c;
  font-size: 7vw;
  line-height: 5.2vw;
  text-align: right;
}

.p-tag {
  font-size: 3vw;
  font-weight: 200;
  color: #fffef9;
  padding-top: 2vh;
  padding-left: 8vw;
  text-align: right;
}

.p-bottom-container {
  align-self: flex-end;
  margin-bottom: 5%;
}

.p-icon {
  padding-left: 7%;
  width: 43%;
}

.p-skills-container {
  width: 47%;
  float: right;
  padding-left: 3%;
}

.p-skill-title, .p-skills {
  text-align: right;
}

.p-skill-title {
  color: #fff32c;
  font-size: 2vw;
  letter-spacing: 1px;
}

.p-skills {
  font-size: 1.6vw;
  font-weight: 200;
  color: #fffef9;
}

.red {
  color: #E85D5F;
}

.red2 {
  color: #332929;
}




/* Right Content */

.project-box {
  width: 56%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.project {
  width: 90%;
  height: 90%;
  box-sizing: border-box;
}

.parent {
  overflow: hidden;
  position: relative;
  float: left;
	cursor: pointer;
  border-radius: 0px;
  border: #fff32c solid 2px;
}

.child {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: .2s;
}

.parent:hover .child {
  transform: scale(1.05);
  transition: .2s;
}

.project-button {
  position: absolute;
  bottom: 15%;
  left: 15%;
  width: 170px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #e64c4e;
  color: #fffef9;
  transition: .2s;
  border-radius: 1px;
}

.project-button2 {
  background-color: #fff32c;
  color: #292e33;
  transition: .2s;
}

.web-project {
  background-image: url(../images/laptop_mockup_website.jpg);
  background-position: center;
  background-size: cover;
}

.graphic-project {
  background-image: url(../images/klipsch_thumb.jpg);
  background-position: 80%;
}

.sound-project {
  background-image: url(../images/album_cover_small.jpg);
}




/* Page One */

#cine-video {
  width: 100%;
  position: absolute;
  z-index: -1;
}



.title {
  display: block;
  box-sizing: border-box;
  width: 50vw;
  height: auto;
  float: right;
  margin-top: 10vh;
  padding-right: 10vw;
}

#site-title a{
  display: block;
  height: 17.5vw;
  background: transparent url(../images/Signature_small_black.svg) no-repeat;
  background-size: 100% auto;
  text-indent: -999em;
}



#attributes {
  list-style-type: none;
  color: #e64c4e;
  font-size: 3vw;
  font-weight: 500;
  letter-spacing: 2px;
  word-spacing: 10px;
  text-align: right;
}




/* Page Five */

.contact-skill-title {
  color: #fff32c;
  font-size: 2vw;
  letter-spacing: 1px;
  padding-top: 2vh;
  font-weight: 900;
}

.contact-skills {
  padding-left: 8vw;
  font-size: 1.6vw;
  font-weight: 200;
  color: #fffef9;
}

.contact-tag {
  width: 90%;
  margin-bottom: 15vw;
  font-size: 3vw;
  font-weight: 200;
  color: #fffef9;
  text-align: left;
  align-self: flex-end;
}

/*
#form-messages {
  width: 90%;
  color: #fff32c;
  font-weight: 200;
  font-size: 1.6vw;
  align-self: flex-end;
  margin-top: 30vw;
}*/


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41,46,51,.5);
}

.modal-content {
  position: relative;
  background-color: #fffef9;
  margin: 15% auto;
  padding: 40px;
  box-shadow: 4px 4px 20px #292e33;
  width: 50%;
}

#close {
  position: absolute;
  top: 0;
  right: 1%;
  line-height: 3vw;
  color: #e64c4e;
  float: right;
  font-size: 4vw;
  font-weight: bold;
}

#close:hover, #close:focus {
  color: #e64c4e;
  text-decoration: none;
  cursor: pointer;
}

.modal-content p {
  color: #292e33;
  font-size: 1.5em;
  text-align: center;
}

.content section {
  text-align: right;
}

.charlie {
  position: absolute;
  bottom: -100px;
  right: 0;
  width: 75%;
}




/* Contact Form */

#contact-box {
  width: 56%;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  }

form {
  width: 90%;
  height: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-start;
  box-sizing: border-box;
  border: 2px solid #fff32c;
  background: #292e33;
  border-radius: 0;
  position: absolute;
  top: 5%;
  
}

form div + div {
  padding-right: 5%;
  display: flex;
}

.name-container {
  height: 7%;
  padding-right: 5%;
  display: flex;
  margin-top: 3%;
}

.email-container {
  height: 7%;
}

label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
  color: #fffef9;
  font-size: 1.2vw;
  font-weight: 900;
}

input, textarea {
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 200;
  height: 100%;
  font-size: 1em;
  width: 100%;
  border: none;
  margin-left: 2%;
  padding-left: 1%;
}

input:focus, textarea:focus {
  border-color: red;
}

textarea {
  vertical-align: top;
  box-sizing: border-box;
}

#message {
  height: 100%;
}

.msg-container {
  height: 30%;
}

.msg-label {
  display: flex;
  align-items: flex-start;
}

.button {
  width: 100%;
  height: 15%;
  align-content: flex-start;
  justify-content: flex-end;
  box-sizing: border-box; 
  padding-right: 5%;
  margin-bottom: 3%;

}

#send {
  font-family: "Montserrat";
  font-size: 2vw;
  border: none;
  background-color: #e64c4e;
  color: #fffef9;
  padding: 8px 50px;
  transition: .1s;
  border-radius: 1px;
  letter-spacing: 1px;
  cursor: pointer;
}

#send:hover {
  background-color: #fff32c;
  color: #292e33;
  transition: .1s;
}




/* Footer */

footer {
  background-color: #292e33;
  width: 100%;
  height: 100px;
  color: #fffef9;
  font-weight: 200;
  display: flex;
  align-items: center;
}

#footer-line {
  background: #fffef9;
  margin-left: 2vw;
  width: 2px;
  border-radius: 1px;
  height: 80px;
}

footer ul {
  padding-left: 12px;
  list-style: none;
}

.footer-icon {
  width: 22px;
  padding-right: 10px;
}

footer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10pt;
  vertical-align: middle;
  line-height: 30px;
}




/* Phones */

@media (max-width: 599px) {
  
  nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: none;
    z-index: 1; 
  }
  

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  nav ul li a{
    width: 19vw;
    height: 4vh;
    line-height: 4vh;
    font-size: 3vw;
    margin-top: 0;
    color: #fff32c;
  }
  
  nav ul li a:hover{
    width: 19vw;
    margin-top: 0;
  }
  
  .page {
    width: 100vw;
    height: 100vh;
  }
  
  .p-one {
    background-image: url(../images/metolius_phone_cropped.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .title {
    box-sizing: border-box;
    width: 80vw;
    height: auto;
    float: right;
    margin-top: 10vh;
    padding-right: 8vw;
  }
  
  #site-title a{
    height: 31vw;
  }

  #attributes {
    width: 100%;
    list-style-type: none;
    color: #e64c4e;
    font-size: 6vw;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: right;
  }

  .p-two, .p-three, .p-four, .p-five {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    
  }

  .content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .p-top-container {
    width: 100%;
    height: auto;
    top: 0;
    padding-top: 7vh;
    padding-left: 5vw;
    
  }

  .p-title {    
    color: #fff32c;
    font-size: 18vw;
    line-height: 15vw;
    text-align: left;
  }

  .p-tag {
    font-size: 5vw;
    font-weight: 200;
    color: #fffef9;
    padding-top: 1.5vh;
    padding-left: 0;
    text-align: left;
  }

  .p-bottom-container {
    width: 100%;
    height: 100%;
    align-self: flex-start;
    margin-bottom: 0;
    padding-top: 4vh;
    
  }

  .p-icon {
    padding-left: 5vw;
    width: 30%;
  }

  .p-skills-container {
    width: 50%;
    float: right;
    padding-right: 8vw;
  }

  
  .p-skill-title, .p-skills {
    text-align: left;
  }

  .p-skill-title {
    color: #fff32c;
    font-size: 4vw;
    letter-spacing: 1px;
  }

  .p-skills {
    font-size: 4vw;
    font-weight: 200;
    color: #fffef9;
  }

  .red {
    color: #E85D5F;
  }

  .red2 {
    color: #332929;
  }

  
  .project-box {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }

  .project {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }

  .parent {
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
    border-radius: 0px;
    border: #fff32c solid 2px;
  }

  .child {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s;
  }

  .parent:hover .child {
    transform: scale(1.05);
    transition: .2s;
  }

  .project-button {
    position: absolute;
    bottom: 15%;
    left: 15%;
    width: 125px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 10pt;
    background-color: #e64c4e;
    color: #fffef9;
    transition: .2s;
    border-radius: 1px;
  }

  .project-button2 {
    background-color: #fff32c;
    color: #292e33;
    transition: .2s;
  }

 .web-project {
  background-image: url(../images/laptop_mockup_website.jpg);
  background-position: center;
}

  .graphic-project {
    background-image: url(../images/klipsch_thumb.jpg);
    background-position: 80%;
  }

  .sound-project {
    background-image: url(../images/album_cover_small.jpg);
  }
  
   .contact-skill-title {
    color: #fff32c;
    font-size: 4vw;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 0;
  }
    
  .contact-skills {
    font-size: 4vw;
    font-weight: 200;
    color: #fffef9;
    text-align: left;
    padding-left: 0; 
    padding-right: 5vw;
  } 
  
   .p-five .content {
      height: 35%;
    }
    
    .p-five {
      height: calc(100vh - 100px);
    }
  
    #contact-box {
      width: 100%;
      height: 65%;
     
    }
    
    .form-container {
      width: 100%;
      height: 60%;
      align-self: flex-start;
      padding-top: 5vh;
    }
    
    form {
      width: 90%;
      height: 100%;
      margin-left: 5%;
      position: inherit;
      
    }
  
  label {
    font-size: 2.3vw;
  }
  
  #send {
    font-size: 4vw;
  }
    
    .contact-tag {
      margin: 0;
      padding: 0;
      font-size: 6vw;
      align-self: flex-start;
    }

    .charlie {
      width: 50%;
    }
  
  #footer-line {
    margin-left: 5vw;
  }
  
}


/* Phone Portrait */

  @media (max-height: 599px) {
  
    .p-one {
      background-image: url(../images/metolius_background.png);
      background-size: cover;
      background-repeat: no-repeat;
  }
    
}
  



/* Tablet */

  @media (min-width: 600px) and (max-width: 1024px) { 
    
    
    .title {
      width: 70vw;
    }
    
    #site-title a{
      height: 25.5vw;
    }
    
    #attributes {
      font-size: 4.3vw;
    }
    
    .page {
      height: 100vh;
    }
    
   
    
    #cine-video {
      height: 100vh;
      width: auto;
      position: absolute;
      z-index: -1;
    }
    
    
    
    nav li a{
      display: block;
      list-style-type: none;
      text-decoration: none;
      margin-top: 10px;
      width: 8vw;
      background-color: #e64c4e;
      color: #fff32c;
      overflow: hidden;
      text-align: center;
      line-height: 30px;
      transition: .6s;
      font-size: 1.2vw;
    }

    li a:hover {
      width: 8vw;
      background-color: #e64c4e;
      color: #fff32c;
    }
    
     .onoffswitch {
    top: 93vh;
  }
    
    .p-tag {
     font-size: 3.3vw; 
    }
   
    .project-box {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .project {
      height: 60%;
      align-self: flex-start;
      top: 5%;
    }
    
    .p-skills-container {
      width: 90%;
      padding-left: 0;
      align-self: flex-start;
      margin-bottom: 0;
    }

    .p-skill-title, .p-skills {
      text-align: left;
    }

    .p-skill-title {
      color: #fff32c;
      font-size: 3vw;
      letter-spacing: 1px;
    }

    .p-skills {
      font-size: 2.5vw;
      font-weight: 200;
      color: #fffef9;
    }

    .p-five {
      height: 87vh;
    }
   
    .contact-skill-title {
      font-size: 2.5vw;
    }
    
    .contact-skills {
      font-size: 2vw
    }
    
    .p-top-container {
      padding-left: 1vw;
    }

    .p-bottom-container {
      text-align: right;
    }
    
    .p-icon {
      padding-left: 0;
      width: auto;
      height: 55vh;
    }
    
  }
    
    
    


  @media (min-width: 600px) and (max-width: 1024px) and (orientation:portrait) { 
    
  nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: none;
    z-index: 1; 
  }
  
 

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  nav ul li a{
    width: 19vw;
    height: 4vh;
    line-height: 4vh;
    font-size: 3vw;
    margin-top: 0;
    color: #fff32c;
  }
  
  nav ul li a:hover{
    width: 19vw;
    margin-top: 0;
  }
  
  .page {
    width: 100vw;
    height: 100vh;
  }
  
    #site-title a{
      height: 31vw;
    }
    
  .title {
    box-sizing: border-box;
    width: 80vw;
    height: auto;
    float: right;
    margin-top: 10vh;
    padding-right: 8vw;
  }

  #attributes {
    width: 100%;
    list-style-type: none;
    color: #e64c4e;
    font-size: 6vw;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: right;
  }

  .p-two, .p-three, .p-four, .p-five {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    
  }

  .content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
  }

  .p-top-container {
    width: 100%;
    height: auto;
    display: flex;
    position: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw
  }

  .p-title {   
    color: #fff32c;
    font-size: 18vw;
    line-height: 15vw;
    text-align: left;
  }

  .p-tag {
    font-size: 5vw;
    font-weight: 200;
    color: #fffef9;
    padding-top: 0;
    padding-left: 0;
    text-align: left;
  }

  .p-bottom-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 3vh;
    
  }

  .p-icon {
    width: 20%;
    height: 20%;
    padding-left: 0;
    float: left;
  }

  .p-skills-container {
    width: 75%;
    float: left;
    padding-right: 0;
    padding-left: 3vw;
  }

  
  .p-skill-title, .p-skills {
    text-align: left;
  }

  .p-skill-title {
    color: #fff32c;
    font-size: 4vw;
    letter-spacing: 1px;
  }

  .p-skills {
    font-size: 3vw;
    font-weight: 200;
    color: #fffef9;
  }

  .red {
    color: #E85D5F;
  }

  .red2 {
    color: #332929;
  }

  
  .project-box {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }

  .project {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }

  .parent {
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
    border-radius: 0px;
    border: #fff32c solid 2px;
  }

  .child {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s;
  }

  .parent:hover .child {
    transform: scale(1.05);
    transition: .2s;
  }

  .project-button {
    position: absolute;
    bottom: 15%;
    left: 15%;
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #e64c4e;
    color: #fffef9;
    transition: .2s;
    border-radius: 1px;
  }

  .project-button2 {
    background-color: #fff32c;
    color: #292e33;
    transition: .2s;
  }

  .web-project {
  background-image: url(../images/laptop_mockup_website.jpg);
  background-position: center;
}

  .graphic-project {
    background-image: url(../images/klipsch_thumb.jpg);
    background-position: 80%;
  }

  .sound-project {
    background-image: url(../images/album_cover_small.jpg);
  }
  
  .contact-skill-title {
    color: #fff32c;
    font-size: 4vw;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 0;
  }
    
  .contact-skills {
    font-size: 3vw;
    font-weight: 200;
    color: #fffef9;
    text-align: left;
    padding-left: 0; 
  } 
    
    .p-five .content {
      height: 35%;
    }
    
    .p-five {
      height: calc(100vh - 100px);
    }
  
    #contact-box {
      width: 100%;
      height: 65%;
     
    }
    
    .form-container {
      width: 100%;
      height: 60%;
      align-self: flex-start;
      padding-top: 3vh;
    }
    
    form {
      width: 90%;
      height: 100%;
      margin-left: 5%;
      position: inherit;
    }
    
    label {
      font-size: 2.3vw;
    }
    
    #send {
      font-size: 3vw
    }
    
    .contact-tag {
      margin: 0;
      padding: 0;
      font-size: 5vw;
      align-self: flex-start;
    }

    .charlie {
      width: 60%;
    }
    
    #footer-line {
      margin-left: 5vw;
    }
} 














