@charset "UTF-8";
/* CSS Document */

* {
  margin: 0px;
  padding: 0px;
}

body, html{
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 5vh;
  background-color: none;
  float: left; 
  z-index: 1; 
}



/* On/Off Switch */

.onoffswitch {
    position: absolute; 
    bottom: 2%; 
    left: 1%; 
    width: 60px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #FFFEF9; 
    width: 100%; 
    border-radius: 24px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 24px; 
    padding: 0; 
    line-height: 24px;
    font-size: 12px; 
    color: #fffef9; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 500;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #3EB6D4; 
    color: #FFFEF9;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #E64C4E; 
    color: #FFFEF9;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 16px; 
    margin: 4px;
    background: #fffef9;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 32px;
    border: 2px solid #FFFEF9; 
    border-radius: 15px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: -4px; 
}



#tattoo {
  z-index: 1;
  width: 40vw;
  position: absolute;
  top: 34em;
  right: -16%;
}

li a{
  display: block;
  list-style-type: none;
  text-decoration: none;
  margin-top: 5px;
  width: 20px;
  background-color: #e64c4e;
  color: #e64c4e;
  overflow: hidden;
  text-align: center;
  line-height: 40px;
  transition: .6s;
}

li a:hover {
  width: 8vw;
  background-color: #e64c4e;
  color: #fff32c;
  transition: .6s;
}

#metolius-pic {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.title {
  box-sizing: border-box;
  width: 50vw;
  height: auto;
  float: right;
  margin-top: 10vh;
  padding-right: 10vw;
}

#attributes {
  list-style-type: none;
  color: #e64c4e;
  font-size: 3vw;
  font-weight: 500;
  letter-spacing: 2px;
  word-spacing: 10px;
  text-align: right;
}

.page {
  height: 95vh;
  width: 100%;
}

.content {
  width: 42%;
  height: 95%;
  position: relative;
}

.project-box {
  width: 58%;
  height: 95%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  z-index: 1;
}

.project {
  position: relative;
  width: 85%;
  height: 85%;
  margin-left: 1.2vw;
  overflow: hidden;
}

.pause {
  background-image: url(../images/metolius_background.png);
  background-size: cover;
  position: relative;
}

.p-one {
  background-image: url(../images/metolius_background.png);/*url(../images/metolius_cinemagraph.gif);*/
  background-size: cover;
  position: relative;
}



.page {
  height: 54vw;
}
.p-two, .p-four {
  background-color: #292e33;
}

.p-three, .p-five {
  background-color: #3eb6d4;
}

.p-five {
  height: 100vh;
}

.p-two, .p-three, .p-four, .p-five {
  display: flex;
  flex-wrap: wrap;
}

header {
  height: 5%;
  width: 100%;
}

.p-title {
  color: #fff32c;
  font-size: 5vw;
  line-height: 3.6vw;
 
}

.p-icon {
  padding-left: 4%;
  width: 33%;
}

.p-skills-container {
  width: 60%;
  float: right;
  padding-left: 3%;
}

.p-bottom-container {
  position: absolute;
  bottom: 5%;
}

.p-top-container {
  position: absolute;
  padding-left: 40%;
  top: 0;
  right: 0;
}

.p-skill-title, .p-skills {
  text-align: right;
}

.p-tag {
  font-size: 3vw;
  font-weight: 200;
  color: #fffef9;
  padding-top: 2vh

}

.p-skill-title {
  color: #fff32c;
  font-size: 2vw;
  letter-spacing: 1px;
}

.p-skills {
  font-size: 1.6vw;
  font-weight: 200;
  color: #fffef9;
}

.red {
  color: #E85D5F;
}

.red2 {
  color: #332929;
}

.charlie {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  max-height: 45%;
}

.contact-skill-title {
  color: #fff32c;
  font-size: 2vw;
  letter-spacing: 1px;
  padding-top: 2vh;
  font-weight: 900;
}

.contact-skills {
  font-size: 1.6vw;
  font-weight: 200;
  color: #fffef9;
}

.contact-tag {
  position: absolute;
  bottom: 30%;
  left: 1.2vw;
  font-size: 3vw;
  font-weight: 200;
  color: #fffef9;
}

.contact-box {
  position: relative;
}

form {
  width: 85%;
  height: auto;
  margin-left: 1.2vw;
  border: 2px solid #fff32c;
  box-sizing: border-box;
  background: #292e33;
  border-radius: 10px
}

form div + div {
  margin-top: 1.5em;
  padding-right: 2em;
  display: flex;
}

#name-container {
  padding-top: 2em;
  padding-right: 2em;
  display: flex;
}

label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
  color: #fffef9;
  font-size: 1em;
  font-weight: 900;
}

input, textarea {
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 200;
  height: 1.7em;
  font-size: 1em;
  width: 100%;
  border: none;
  margin-left: 2%;
  padding-left: 1%;
}

input:focus, textarea:focus {
  border-color: red;
}

textarea {
  vertical-align: top;
  box-sizing: border-box;
}

#message {
  height: 8em;
}

.msg-label {
  display: flex;
  align-items: flex-start;
}

.button {
  box-sizing: border-box; 
  padding-right: 2em;
  padding-bottom: 1.7em;
  float: right;
}

#send {
  font-family: "Montserrat";
  font-size: 2em;
  border: none;
  background-color: #e64c4e;
  color: #fffef9;
  padding: 8px 50px;
  transition: .1s;
  border-radius: 1px;
  letter-spacing: 1px;
}

#send:hover {
  background-color: #fff32c;
  color: #292e33;
  transition: .1s;
}

.parent {
  overflow: hidden;
  position: relative;
  float: left;
	cursor: pointer;
  border-radius: 0px;
  border: #fff32c solid 2px;
}

.child {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: .2s;
  
  
}

.parent:hover .child {
  transform: scale(1.05);
  transition: .2s;
}


.web-project {
  background-image: url(../images/Mushrooms_3.png);
}

.graphic-project {
  background-image: url(../images/joshua_tree.png);
  background-position: 80%;
}

.sound-project {
  background-image: url(../images/album_cover_small.jpg);
}


.project-button {
  position: absolute;
  bottom: 15%;
  left: 15%;
  width: 170px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #e64c4e;
  color: #fffef9;
  transition: .2s;
  border-radius: 1px;
}

.project-button2 {
  background-color: #fff32c;
  color: #292e33;
  transition: .2s;
}























